.details {
  background-color: white;
  width: 60%;
  border: 1px solid black;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 5px;
  border-color: #909090;
  position: relative;
  padding: 3% 5%;
}

p {
  font-size: 1.25em;
}

span {
  font-weight: 500;
  font-size: 1vw;
}

.info {
  font-weight: 300;
  font-size: .9em;
}

.add {
  font-size: 2vw;
  font-weight: 200px;
}

#add {
  color: #0BCDB2;
  font-size: 2em;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}

a {
  color: black;
<<<<<<< HEAD
}
=======
}
>>>>>>> Johnathan-patch-2
