.container-fluid {
	padding: 0px;
}

.nav-link {
	color: white;
	font-size: 22px;
	margin-bottom: 5px;
	margin-right: 50px;
	margin-top: 5px;
}

.navbar {
	background-color: rgba(0, 173, 255, 0.54);
}

.navbar-brand {
	font-size: 22px;
}

.join {
	background-color: turquoise;
	color: white;
	font-size: 24px;
	height: 85px;
	padding-top: 24px;
	text-align: center;
}

#joinlink {
	color: white;
	text-decoration: underline;
}

#redeem {
	color: white;
	height: 28px;
	vertical-align: middle;
	width: 28px;
}

#signup {
	background-color: orange;
	border-color: orange;
	font-size: 22px;
	margin-bottom: 5px;
	margin-right: 50px;
	margin-top: 5px;
}

.Browse {
	float: center;
	text-align: justify;
	padding: 1.2em 1em 0;
	margin: 1em;
	border-radius: 0.25em;
}

.Browse button {
	margin: 50px;
}

footer {
	background-color: black;
}

footer button {
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

footer div {
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	color: White;
}

.card-title {
	color: black;
	font-size: 18px;
	font-weight: 500;
}

#chevron {
	color: turquoise;
	vertical-align: middle;
}

.centered-nav {
	float: none;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.footer-link {
	display: inline-block;
	float: none;
}

.carousels {
	margin-top: 100px;
}

.carousel-caption {
	bottom: 80px;
}

#carousel-btn-1 {
	color: orange;
	display: block;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	padding: 11px 22px;
}

#carousel-btn-2 {
	background-color: orange;
	border-color: orange;
	font-size: 22px;
	padding: 11px 22px;
}

#carousel-btn-3 {
	color: orange;
	font-size: 22px;
	margin-left: 50px;
	padding: 11px 22px;
}

#carousel-icon {
	font-size: 80px;
	margin-right: 20px;
	vertical-align: middle;
}

.carousel-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: start
}

#view-all {
	margin-right: 175px;
	background-color: turquoise;
	border-color: turquoise;
}

#too-busy {
	background-color: turquoise;
	border-color: turquoise;
	font-size: 22px;
}

#paywall-btn-1 {
	background-color: orange;
	border-color: orange;
	display: block;
	font-size: 22px;
	margin-bottom: 20px;
	margin-top: 50px;
	padding: 11px 22px;
	width: 100%;
}

#paywall-btn-2 {
	border-color: orange;
	color: orange;
	display: block;
	font-size: 22px;
	margin-bottom: 20px;
	padding: 11px 22px;
	width: 100%;
}