<div class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-dark fixed-top material-elevation mdc-elevation--z16 row align-items-center">
      <img class="nav-logo col-2" src="assets/images/Logos/UniPantry Logo.png" alt="Logo">
      <a class="nav-link active col-2 ml-auto" href="#">
        <i class="material-icons" id="redeem">redeem</i> Buy a Gift Card</a>
      <a class="nav-link active col-2" routerLink="/logged-in">Log In</a>
      <button class="btn btn-primary material-elevation mdc-elevation--z5 col-2" href="#" id="signup" data-toggle="modal"
        data-target="#paywallModal">Sign Up For
        Free</button>
      </nav>
  </div>
  <app-landing-carousel></app-landing-carousel>
  <div class="join row align-items-center justify-content-center container-fluid">
    <p> <a id="joinlink" href='#'>Join today</a> and get your first month free!</p>
  </div>
</div>
<div class="carousels container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 1.5%;">
    <h3 style="margin-left: 11%;">Dorm Room Essentials</h3>
    <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
      All > </button>
  </div>
  <app-card-carousel-1></app-card-carousel-1>
</div>
<div class="carousels container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 1.5%;">
    <h3 style="margin-left: 11%;">New Year, New You</h3>
    <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
      All > </button>
  </div>
  <app-card-carousel-2></app-card-carousel-2>
</div>
<div class="carousels container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 1.5%;">
    <h3 style="margin-left: 11%;">Time to Restock</h3>
    <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
      All > </button>
  </div>
  <app-card-carousel-3></app-card-carousel-3>
</div>
<app-browse-all></app-browse-all>
<app-paywall-modal></app-paywall-modal>
<app-footer></app-footer>