<div class="BrowseAll">
    <h1>Browse all Products</h1>
    <div class="Browse">
        <div class="row justify-content-center">
            <div class="card mx-3 my-4 material-elevation mdc-elevation--z20" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Produce <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[0]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Meat & Fish <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[1]" alt="Card image">               
            </div>
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Bakery <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[2]" alt="Card image">   
            </div>
            <div class="card mx-3 my-4" style="width: 215px">
                <div class="card-body">
                    <a class="card-title" href="#">Dairy & Eggs <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[3]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width: 215px">
                <div class="card-body">
                    <a class="card-title" href="#">Beverages <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[4]" alt="Card image">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Snacks <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[5]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Packaged Foods <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[6]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Frozen Foods <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[7]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width: 215px">
                <div class="card-body">
                    <a class="card-title" href="#">Baking Supplies <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[8]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width: 215px">
                <div class="card-body">
                    <a class="card-title" href="#">Specialty & Allergy-Friendly <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[9]" alt="Card image">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Hygiene <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[10]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Health <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[11]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width:215px">
                <div class="card-body">
                    <a class="card-title" href="#">Paper Goods <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[12]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width: 215px">
                <div class="card-body">
                    <a class="card-title" href="#">Cleaning Supplies <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[13]" alt="Card image">
            </div>
            <div class="card mx-3 my-4" style="width: 215px">
                <div class="card-body">
                    <a class="card-title" href="#">Laundry Supplies <i class="material-icons" id="chevron">chevron_right</i></a>
                </div>
                <img class="card-img-bottom" [src]="images[14]" alt="Card image"> 
            </div>
        </div>
    </div>
    <div class="TooBusy">
        <h1>Too Busy to Shop?</h1>
        <p>We've got you covered! We've Created Carts of products that are most commonly bought together
            so you can order all of your essentials with one click</p>
        <button>Check Out UniPantry Lists</button>
    </div>
</div>