<div class="container-fluid">
  <app-nav></app-nav>
  <app-landing-carousel></app-landing-carousel>
  <div class="join row align-items-center justify-content-center container-fluid">
    <p class="join"> <a id="joinlink" routerLink="/signup">Join today</a> and get your first month free!</p>
  </div>
</div>
<div class="carousels container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 1%;">
    <h3 style="margin-left: 10%;">Dorm Room Essentials</h3>
    <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
      All</button>
  </div>
  <app-card-carousel-1></app-card-carousel-1>
</div>
<div class="carousels container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 1%;">
    <h3 style="margin-left: 10%;">New Year, New You</h3>
    <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
      All</button>
  </div>
  <app-card-carousel-2></app-card-carousel-2>
</div>
<div class="carousels container-fluid">
  <div class="row justify-content-between" style="margin-bottom: 1%;">
    <h3 style="margin-left: 10%;">Time to Restock</h3>
    <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
      All</button>
  </div>
  <app-card-carousel-3></app-card-carousel-3>
</div>
<app-browse-all></app-browse-all>
<app-paywall-modal></app-paywall-modal>
<app-footer></app-footer>