.container-fluid {
  padding: 0%;
  width: 100%;
}

.nav-link {
  color: white;
  font-size: 1.5vw;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  white-space: nowrap;
}

.navbar {
  background-color: #0CB7CC;
  padding: 0px;
}

.top-nav {
  height: 6vw;
}

#landing-carousel-card {
  background: white;
  border-radius: 45%;
  height: 92%;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 2.2vw;
  padding-right: 2.2vw;
  width: 25%;
}

.carousel-caption {
  bottom: .1%;
  height: 100%;
  text-shadow: 1px 1px #000000;
}

.card-caption {
  color: rgb(70, 70, 70);
  font-size: 1vw;
  font-weight: 500;
  margin-top: 1vw;
  margin-bottom: 0px;
  text-align: center;
  text-shadow: none;
  width: 100%;
}

.join {
  background-color: #0BCDB2;
  color: white;
  font-size: 1.5vw;
  height: 5.5vw;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
}

.join>p {
  padding-top: 1.5vw;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#joinlink {
  color: white;
  text-decoration: underline;
}

#gift {
  color: white;
  width: 1.8vw;
  margin-right: 2%;
  vertical-align: text-top;
}

#signup {
  background-color: #F89833;
  border-color: #F89833;
  border-radius: .5vw;
  font-size: 1.5vw;
  height: 3vw;
  margin-right: 3%;
  padding: 0px;
}

.browse {
  float: center;
  text-align: justify;
  padding: 1.2em 1em 0;
  border-radius: 0.25em;
}

footer {
  background-color: black;
}

footer button {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

footer div {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  color: White;
}

#chevron {
  color: #0BCDB2;
  vertical-align: middle;
}

.centered-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 100%;
}

.footer-link {
  display: inline-block;
  float: none;
  margin-top: 5%;
  width: 15%;
}

#contact {
  width: 13%;
}

#footer-button {
  width: 100%;
}

.carousels {
  margin-top: 3%;
  margin-bottom: 7%
}

.carousel-indicators {
  bottom: 0vw;
  margin-bottom: 4vw;
}

#carousel-btn-1 {
  border-radius: .5vw;
  color: #F89833;
  display: block;
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 2%;
}

#carousel-btn-2 {
  background-color: #F89833;
  border-color: #F89833;
  border-radius: .5vw;
  font-size: 1.5vw;
  padding: 2% 4%;
}

#carousel-btn-3 {
  color: #F89833;
  font-size: 1.5vw;
  margin-left: 5%;
  padding: 2% 4%;
}

#carousel-icon {
  border-radius: .5vw;
  font-size: 4vw;
  margin-right: 5%;
  vertical-align: middle;
}

.carousel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: start;
}

#view-all {
  margin-right: 10.5%;
  background-color: #0BCDB2;
  border-color: #0BCDB2;
  height: 3vw;
  font-size: 1.4vw;
  padding: 0px;
  width: 10%;
}

#too-busy {
  background-color: #0BCDB2;
  border-color: #0BCDB2;
  font-size: 1.5vw;
  padding: 1% 2%;
  width: 17.5vw;
}

#paywall-btn-1 {
  background-color: #F89833;
  border-color: #F89833;
  display: block;
  font-size: 150%;
  margin-bottom: 2%;
  margin-top: 5%;
  padding: 1% 150%;
  width: 100%;
}

#paywall-btn-2 {
  border-color: #F89833;
  color: #F89833;
  display: block;
  font-size: 150%;
  margin-bottom: 10%;
  padding: 1% 150%;
  width: 100%;
}

.browse-all-card {
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 15%;
}

#carousel-img {
  filter: contrast(50%);
  height: 42vw;
}

#carousel-img-3 {
  height: 42vw;
}

#footer-logo {
  margin-bottom: 8%;
  margin-top: 8%;
  width: 20%;
}

h3 {
  font-size: 1.8vw;
  margin-bottom: .2vw;
}

h2 {
  font-size: 2vw;
  margin-bottom: .2vw;
}

h4 {
  font-size: 1.6vw;
  margin-bottom: .2vw;
}

h6 {
  font-size: 1vw;
  font-weight: normal;
  margin-bottom: .2vw;
}

.slide-2-img {
  height: 7vw;
  margin-left: 31.5%;
  width: 4.5vw;
}

.slide-2-pen {
  height: 6vw;
  margin-left: 27.5%;
  margin-top: 5%;
  width: 7vw;
}

.carousel-button {
  width: 3vw;
  height: .2vw;
}

/* Footer */

section {
  padding: 5vw 0;
}

.footer-col {
  padding-left: 0vw;
  padding-right: 0vw;
  width: 20%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0vw;
  padding-right: 0vw;
  width: 90%;
  max-width: 90%;
}

section .section-title {
  text-align: center;
  color: rgb(52, 52, 52);
  margin-bottom: 5vw;
  text-transform: uppercase;
}

#footer {
  background: rgb(52, 52, 52) !important;
}

#footer h5 {
  font-size: 2vw;
  padding-left: 1vw;
  border-left: .3vw solid #eeeeee;
  padding-bottom: .6vw;
  margin-bottom: 1vw;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  font-size: 1.4vw;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: .1vw 0;
}

#footer ul.social li a i {
  margin-right: .5vw;
  font-size: 1.4vw;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 1.4vw;
  margin-top: -1vw;
}

#footer ul.social li a, #footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: .1vw 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: .1vw 0;
  margin-left: .5vw;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: .5vw;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

.fa {
  font-size: 2.5vw;
}

@media (max-width:767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: .5vw;
  }
}