<div class="container-fluid">

  <div class="browse">
    <h3 style="margin-left: 10%; margin-bottom: 1.5%;">Browse All Products</h3>
    <div class="row justify-content-center">
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Produce.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Meat.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Bakery.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Dairy.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Beverages.png" alt="Card image">
      </a>
    </div>
    <div class="row justify-content-center">
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Snacks.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Packaged Foods.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Frozen Foods.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Baking Supplies.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/specialty.png" alt="Card image">
      </a>
    </div>
    <div class="row justify-content-center">
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Hygiene.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Health.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Paper Goods.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Cleaning Supplies.png" alt="Card image">
      </a>
      <a href="#" data-toggle="modal" data-target="#paywallModal" class="browse-all-card">
        <img class="card-img-bottom" src="assets/images/Category Cards/Laundry Supplies.png" alt="Card image">
      </a>
    </div>
  </div>
  <div class="row" style="margin-left: 11%; margin-top: 10%; margin-bottom: 10%; margin-right: 0px;">
    <div class="column justify-content-start">
      <h3>Too Busy to Shop?</h3>
      <p style="font-size: 1.5vw; line-height: 1.25; margin-bottom: 1%;">We've got you covered! We've created carts of products that are <br> most
        commonly bought together
        so you can order all of your <br> essentials with one click.</p>
      <button class="btn btn-primary" type="button" id="too-busy" data-toggle="modal" data-target="#paywallModal">Check
        Out Unipantry Lists ></button>
    </div>
    <img src="assets/images/Category Cards/Listsample.jpg" alt="Cart image" style="height: 15%; margin-left: 5%; width: 25%;">
  </div>
</div>