<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Landing</title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top justify-content-end material-elevation mdc-elevation--z16" style="margin-bottom: 2px;">
      <img class="nav-logo" src="assets/images/Logos/UniPantry Logo.png" alt="Logo">
      <a class="nav-link active ml-auto" href="#">
        <i class="material-icons" id="redeem">redeem</i> Buy a Gift Card</a>
      <a class="nav-link active" href="/logged-in">Log In</a>
      <button class="btn btn-primary material-elevation mdc-elevation--z5" href="#" id="signup" data-toggle="modal" data-target="#paywallModal">Sign Up For
        Free</button>
    </nav>
    <app-landing-carousel></app-landing-carousel>
    <div class="join">
      <p> <a id="joinlink" href='#'>Join today</a> and get your first month free!</p>
    </div>
  </div>
  <div class="modal fade" id="paywallModal" tabindex="-1" role="dialog" aria-labelledby="paywallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content material-elevation mdc-elevation--z5">
        <div class="modal-body">
          <div class="row justify-content-center" style="margin-right: 0px; margin-left: 0px;">
            <h4 style="margin-top: 25px;">Ready to get UP?</h4>
            <h4 style="margin-top: 35px; text-align: center">Begin your 14-day free trial and enjoy FREE, unlimited<br>
              2-day shipping on fresh groceries!</h4>
            <div class="column justify-content-center">
              <button class="btn btn-dark btn-large material-elevation mdc-elevation--z5" id="paywall-btn-1" href="#"
                type="button">
                Start Your Free Trial Today</button>
              <button class="btn btn-light btn-large material-elevation mdc-elevation--z5" id="paywall-btn-2" href="#"
                type="button">
                Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousels">
    <div class="row justify-content-between" style="margin-bottom: 25px; margin-left: 0px; margin-right: 0px;">
      <h3 style="margin-left: 165px;">Dorm Room Essentials</h3>
      <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
        All ></button>
    </div>
    <app-card-carousel-1></app-card-carousel-1>
  </div>
  <div class="carousels">
    <div class="row justify-content-between" style="margin-bottom: 25px; margin-left: 0px; margin-right: 0px;">
      <h3 style="margin-left: 165px;">New Year, New You</h3>
      <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
        All ></button>
    </div>
    <app-card-carousel-2></app-card-carousel-2>
  </div>
  <div class="carousels">
    <div class="row justify-content-between" style="margin-bottom: 25px; margin-left: 0px; margin-right: 0px;">
      <h3 style="margin-left: 165px;">Time to Restock</h3>
      <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" data-target="#paywallModal">View
        All ></button>
    </div>
    <app-card-carousel-3></app-card-carousel-3>
  </div>
  <app-browse-all></app-browse-all>
  <app-footer></app-footer>
</body>

</html>