<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="BrowseAll">
        <div class="Browse">
            <h3 style="margin-left: 130px; margin-bottom: 25px; margin-top: 50px;">Browse all Products</h3>
            <div class="row justify-content-center">
                <div class="card mx-3 mb-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Produce <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[0]" alt="Card image">
                </div>
                <div class="card mx-3 mb-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Meat & Fish <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[1]" alt="Card image">
                </div>
                <div class="card mx-3 mb-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Bakery <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[2]" alt="Card image">
                </div>
                <div class="card mx-3 mb-4 material-elevation mdc-elevation--z10" style="width: 225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Dairy & Eggs <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[3]" alt="Card image">
                </div>
                <div class="card mx-3 mb-4 material-elevation mdc-elevation--z10" style="width: 225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Beverages <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[4]" alt="Card image">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Snacks <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[5]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Packaged Foods <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[6]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Frozen Foods <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[7]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width: 225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Baking Supplies <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[8]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width: 225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Specialty & Allergy-Friendly <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[9]" alt="Card image">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Hygiene <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[10]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Health <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[11]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width:225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Paper Goods <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[12]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width: 225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Cleaning Supplies <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[13]" alt="Card image">
                </div>
                <div class="card mx-3 my-4 material-elevation mdc-elevation--z10" style="width: 225px">
                    <div class="card-body">
                        <a class="card-title" href="#" data-toggle="modal" data-target="#paywallModal">Laundry Supplies <i class="material-icons" id="chevron">chevron_right</i></a>
                    </div>
                    <img class="card-img-bottom" [src]="images[14]" alt="Card image">
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 165px; margin-top: 100px; margin-bottom: 100px; margin-right: 0px;">
            <div class="column justify-content-start">
                <h3>Too Busy to Shop?</h3>
                <p style="font-size: 22px;">We've got you covered! We've created carts of products that are <br> most commonly bought together
                    so you can order all of your <br> essentials with one click</p>
                <button class="btn btn-primary" type="button" id="too-busy" data-toggle="modal" data-target="#paywallModal">Check Out Unipantry Lists ></button>
            </div>
            <img [src]="images[15]" alt="Cart image" style="margin-left: 120px;">
        </div>
    </div>
</body>