.container-fluid {
  padding: 0px;
}

.nav-link {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
  margin-right: 50px;
  margin-top: 5px;
}

.navbar {
  background-color: #0CB7CC;
}

.navbar-brand {
  font-size: 22px;
}

.Browse {
  float: center;
  text-align: justify;
  padding: 1.2em 1em 0;
  margin: 1em;
  border-radius: 0.25em;
}

#nav-search {
  background: lightblue;
  color: white;
  font-family: FontAwesome, Arial;
  font-style: normal;
  font-weight: 500;
  vertical-align: center;
}

.Browse button {
  margin: 50px;
}

#cart {
  color: #0BCDB2;
  height: 20px;
  margin-bottom: 8px;
  margin-right: 9px;
  vertical-align: middle;
  width: 20px;
}

#cart-btn {
  background: white;
  border-color: #0BCDB2;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-size: 20px;
  height: 35px;
  margin-top: 7px;
  padding-top: 3px;
}

.secnavbar {
  background-color: white;
}

.navbar-brand {
  font-size: 22px;
}

.nav-logo {
  margin-left: 25px;
  width: 160px;
}

.secondNav {
  background-color: rgba(0, 173, 255, 0.54);
}

#a1 {
  color: orange;
  background-color: white;
  height: 70px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

#divider {
  color: white;
  background-color: teal;
  text-align: center;
}

#ViewAll {
  background-color: rgb(0, 255, 255);
  color: white;
  text-align: center;
  float: right;
}

.Browse {
  float: center;
  text-align: justify;
  padding: 1.2em 1em 0;
  margin: 1em;
  border-radius: 0.25em;
}

.Browse button {
  margin: 50px;
}

#nav-search {
  background: lightblue;
  color: white;
  font-family: FontAwesome, Arial;
  font-style: normal;
  font-weight: 500;
  vertical-align: center;
}

::placeholder {
  color: #0CB7CC;
  font-weight: 500;
}

.shop-lists::after {
  color: #0BCDB2;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

.category {
  background: #0BCDB2;
  border: #0BCDB2;
  color: white;
  height: 35px;
  margin-left: 35px;
  margin-right: 30px;
  margin-top: 8px;
  padding-top: 3px;
}

.dropdown.has-megamenu {
  position: static;
}

.category-menu {
  background: white;
  border-color: #0BCDB2;
  border-style: solid;
  border-width: 3px;
  margin-top: -18px;
  margin-left: 51px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 200px;
}

.disabled {
  color: black;
}

.shop-lists {
  background: white;
  border: white;
  color: black;
  height: 35px;
  margin-top: 8px;
  margin-right: 30px;
  padding-top: 3px;
}

.lists-menu {
  background: white;
  border-color: #0BCDB2;
  border-style: solid;
  border-width: 3px;
  margin-top: -12px;
  padding-bottom: 10px;
}

#gift-cards {
  color: black;
  height: 35px;
  font-size: 20px;
  margin-top: 8px;
  padding-top: 3px;
}

footer {
  background-color: black;
}

footer button {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

footer div {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  color: White;
}

.card-title {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

#chevron {
  color: rgba(0, 173, 255, 0.54);
  vertical-align: middle;
}

#searchbar {
  margin-left: 600px;
}

#secnavbar {
  background-color: white;
  outline-color: black;
}

#sidenav {
  width: 19.6vw;
  height: 115.9vw;
  float: left;
}

#subMyLists {
  margin-left: 1.4vw;
}

#mylists {
  margin-left: 3.5vw;
  margin-top: 3.5vw;
}

#New-List {
  margin-top: 3.5vw;
  margin-right: 18.9vw;
  background: white;
  border-color: #0BCDB2;
  border-radius: 0.35vw;
  border-style: solid;
  border-width: .07vw;
  color: #0BCDB2;
  font-size: 1.4vw;
  height: 2.45vw;
  padding-top: .21vw;
  font-weight: bold;
}

#view-all {
  background: #0BCDB2;
  border-color: #0BCDB2;
}

.main {
  background-color: rgb(246, 246, 246)
}