.container-fluid {
  padding: 0px;
}

#sidenav {
  border-radius: 0%;
  float: left;
  height: auto;
  margin-bottom: -.75vw;
  top: -.75vw;
  width: 18.75%;
  z-index: 0;
}

#subMyLists {
  margin-left: 1.4vw;
}

#mylists {
  font-size: 2vw;
  margin-left: 10%;
  margin-top: 2vw;
}

#newList {
  cursor: pointer;
  margin-top: 2vw;
  margin-right: 10.5vw;
  background: white;
  border-color: #0BCDB2;
  border-radius: 0.5vw;
  border-style: solid;
  border-width: .15vw;
  color: #0BCDB2;
  font-size: 1.4vw;
  height: 3vw;
  padding: .5%;
  text-align: center;
  width: 17.5vw;
}

#view-list {
  margin-right: 1vw;
  background-color: #0BCDB2;
  border-color: #0BCDB2;
  font-size: 1.4vw;
  height: 3vw;
  padding: 0px;
  width: 9vw;
}

#delete-list {
  margin-right: 10.5vw;
  background-color: #0BCDB2;
  border-color: #0BCDB2;
  font-size: 1.4vw;
  height: 3vw;
  padding: 0px;
  width: 9vw;
}

.row {
  margin-left: 0vw;
  margin-right: 0vw;
}

.form-check input {
  height: 1vw;
  margin-top: .3vw;
  margin-left: -1.25vw;
  width: 1vw;
}

.form-check {
  font-size: 1vw;
  margin-bottom: .5vw;
  padding-left: 2.5vw;
}

.card-body {
  padding: 1.25vw;
}

.container-fluid {
  padding-left: 0vw;
  padding-right: 0vw;
}