body {
   background-color: rgb(40,40,40);
}

.topNav {
    background-color: rgb(93,188,210);
    margin-top: -6px;
    margin-left: -6px;
    margin-right: -6px;
}

.hook {
    background-image: url("https://homepages.cae.wisc.edu/~ece533/images/tulips.png");
    height: 580px;
    margin-top: -50px;
    margin-left: -6px;
    margin-right: -6px;
}

.join {
  background-color: rgb(92,201,178);
  margin-top: -24px;
  margin-left: -6px;
  margin-right: -6px;
  height: 65px;
}
.circle1 {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-left: 670px;
}
.circle2 {
  height: 15px;
  width: 15px;
  background-color: rgb(255,255,255,0.5);
  border-radius: 50%;
  float: left;
  margin-left: 30px;
}
.circle3 {
  height: 15px;
  width: 15px;
  background-color: rgb(255,255,255,0.5);
  border-radius: 50%;
  float: left;
  margin-left: 30px;
}

#logo {
    width: 260px;
    height: 100px;
    background-image: url( 'http://thinkingstiff.com/images/matt.jpg' );
    margin-left: 30px;
    margin-top: 12px;
}

#giftcard{
    background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/band.jpg");
    width: 230px;
    height: 70px;
    margin-left: 450px;
    margin-bottom: 12px;
}

#login {
    background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/band.jpg");
    width: 130px;
    height: 70px;
    margin-left: 20px;
    margin-bottom: 12px;
}

#signup {
    background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/band.jpg");
    width: 230px;
    height: 70px;
    margin-left: 20px;
    margin-bottom: 12px;
}

#line1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 160px;
}

#line2 {
   text-align: center;
    font-size: 50px;
    color: white;
    margin-top: -40px;
}

#button01a {
    width: 270px;
    height: 50px;
    margin-left: 580px;
    margin-top: 12px;
}

#circles {
   margin-top: 130px;
}

#joinlink {
  text-align: center;
  font-size: 24px;
  padding-top: 16px;
}