<div *ngIf="!loggedIn && !onboarding" class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-dark fixed-top material-elevation mdc-elevation--z16 row align-items-center top-nav">
      <img class="nav-logo col-2" src="assets/images/Logos/UniPantry Logo.png" alt="Logo">
      <a class="nav-link active col-2 ml-auto" href="#">
          <img src="assets/images/Navbar Icons/whitegift.png" id="gift"> Buy a Gift Card</a>
      <a class="nav-link active col-2" routerLink="/login">Log In</a>
      <button class="btn btn-primary material-elevation mdc-elevation--z5 col-2" href="#" id="signup" data-toggle="modal"
        data-target="#paywallModal">Sign Up For
        Free</button>
    </nav>
  </div>
</div>
<div *ngIf="loggedIn && !onboarding" class="container-fluid" style="z-index: 999;">
  <app-logged-in-landing-nav></app-logged-in-landing-nav>
</div>
<div *ngIf="onboarding" class="container-fluid" style="z-index: 999;">
  <app-onboarding-nav></app-onboarding-nav>
</div>