.container-fluid {
  padding: 0px;
}

.nav-link {
  color: white;
  font-size: 1.22vw;
  margin-bottom: 0.28vw;
  margin-right: 2.78vw;
  margin-top: 0.28vw;
}

.navbar {
  background-color: #0CB7CC;
}

.navbar-brand {
  font-size: 1.22vw;
}

.btn-primary {
  background-color: #F89833;
  border-color: #F89833;
}

.top-container {
  position: relative;
  text-align: center;
  color: white;
}

.getup {
  background-color: white;
  color: black;
  font-size: 1.22vw;
  height: 5.56vw;
  padding-top: 1.11vw;
  padding-bottom: 8.33vw;
  text-align: center;
}

.top-pic {
  width: 100%;
}

.aboutTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.78vw;
  text-shadow: -1px 1px #000000
}

.join {
  background-color: #0BCDB2;
  color: white;
  font-size: 1.33vw;
  height: 4.72vw;
  padding-top: 1.33vw;
  text-align: center;
}

#joinlink {
  color: white;
  text-decoration: underline;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  color: black;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 200;
}

.column1 {
  float: left;
  color: black;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 200;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.hanpic {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 2.22vw;
  width: 70%;
}

.hanpic2 {
  display: block;
  margin-left: auto;
  margin-right: 1.11vw;
  margin-top: 2.22vw;
  width: 40%;
}

.head1 {
  font-size: 1.67vw;
  margin-top: 2.78vw;
  margin-bottom: 1.67vw;
}

.par1 {
  font-size: 1.11vw;
}

.head2 {
  font-size: 1.67vw;
  margin-top: 2.78vw;
  margin-bottom: 1.11vw;
}

.par2 {
  font-size: 1.11vw;
}

#carousel-btn-2 {
  background-color: #F89833;
  border-color: #F89833;
  font-size: 1.22vw;
  padding: 0.61vw 1.22vw;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}