<div class="top-container">
  <app-nav></app-nav>
  <img src="assets/images/About Us Page/picnic.jpg" class="top-pic">
  <p class="aboutTxt"><strong>About UniPantry</strong></p>
  <div class="join">
    <p> <strong><a id="joinlink" href='#'>Join today</a> and get your first month free!</strong></p>
  </div>
</div>
<div class="row">
  <div class="column" style="text-align: center;">
    <h1 class="head1">Who are we?</h1>
    <p class="par1" style="display: inline-block; text-align: left;">UniPantry is a startup founded by a group of<br>students
      who were frustrated with the traditional<br>experience of grocery shopping while attending<br>college. After
      hearing that many other students<br>also hated having to wait for buses, paying for<br>Ubers, and carrying around
      heavy bags in rain<br>and snow just to get healthy and affordable<br>groceries, UniPantry was born.</p>
  </div>
  <div class="column">
    <img src="assets/images/About Us Page/newbuspic.jpg" style="width: 100%;">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="assets/images/About Us Page/studentslaptop.jpg" style="width: 100%;">
  </div>
  <div class="column" style="text-align: center;">
    <h1 class="head1">Made for Students by Students</h1>
    <p class="par1" style="display: inline-block; text-align: left;">We know that being a student is stressful, that's<br>why
      our goal at UniPantry is to give you the<br>most convenient shopping experience so you<br>can have <strong>more
        time focusing on what matters</strong><br>most to you</p>
  </div>
</div>
<div class="row">
  <div class="column" style="text-align: center;">
    <h1 class="head1">Shopping Made Easy</h1>
    <p class="par1" style="display: inline-block; text-align: left;">Browse through the Unipantry website or, if<br>you
      are a member, use the app. Find anything<br>and everything you need at retail price or<br>lower. With Unipantry's
      personal shoppers, you<br>can order your apartment's groceries or your<br>secret stash of chocolate cake from the
      comfort<br>of your bed.</p>
  </div>
  <div class="column">
    <img src="assets/images/About Us Page/shoppingbasket.jpg" style="width: 100%;">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="assets/images/About Us Page/produceaisle.jpg" style="width: 100%;">
  </div>
  <div class="column" style="text-align: center;">
    <h1 class="head1">Order With Confidence</h1>
    <p class="par1" style="display: inline-block; text-align: left;">When you have everything you need, it's time<br>to
      head to checkout. With UniPantry, you can<br>get your groceries within two days. UniPantry<br>also makes it super
      easy to schedule repeat<br>deliveries for items you might need on a<br>regular basis. Have any special requests?
      You<br>can include shoppers notes with your checkout<br>so that your personal shopper knows exactly<br>what you
      want.</p>
  </div>
</div>
<div class="row">
  <div class="column" style="text-align: center;">
    <h1 class="head1">Fast Delivery You Can Trust</h1>
    <p class="par1" style="display: inline-block; text-align: left;">Go about your regular schedule and let<br>UniPantry
      handle all the time-consuming<br>shopping for you. Your groceries will be<br>delivered straight to your door
      within two days<br>(or whenever you've scheduled for them to<br>arrive). Grocery shopping has never been<br>this
      easy!</p>
  </div>
  <div class="column">
    <img src="assets/images/About Us Page/girlshopping.jpg" style="width: 100%;">
  </div>
</div>
<div class="row" style="background-color: #DCDCDC">
  <div class="column1 left">
    <img src="assets/images/About Us Page/hannafordlogo.png" class="hanpic">
  </div>
  <div class="column1 right" style="text-align: center; margin-bottom: 50px;">
    <h1 class="head2">Backed by a Trusted Brand</h1>
    <p class="par2" style="display: inline-block; text-align: left;">All groceries are sourced from our partner,
      Hannaford Supermarkets so you know all<br>products you receive are of the highest quality for the lowest prices.</p>
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="assets/images/About Us Page/peoplewithtech.jpg" style="width: 100%;">
  </div>
  <div class="column" style="text-align: center;">
    <h1 class="head1">See How We Stack Up</h1>
    <p class="par1" style="display: inline-block; text-align: left;">UniPantry is unique because it is the best grocery<br>delivery
      service on the market for college students.</p>
    <img src="assets/images/About Us Page/UniTable.png" style="width: 65%;">
  </div>
</div>
<div class="getup" style="margin-bottom: 200px;">
  <h1 class="head2">Ready to GET UP?</h1>
  <p style="margin-bottom:50px;">Sign up now to begin your month-trial and get FREE, unlimited 2-day delivery on
    groceries.</p>
  <div>
    <button class="btn btn-dark btn-large" id="carousel-btn-2" href="#" type="button">
      Start Your Free Trial Today</button>
  </div>
</div>
<div class="row" style="background-color: #DCDCDC">
  <div class="column1 left">
    <img src="assets/images/Logos/appicon.png" class="hanpic2">
  </div>
  <div class="column1 right" style="text-align: left; margin-bottom: 40px;">
    <h1 class="head2">Check out the UniPantry App!</h1>
    <p class="par2" style="display: inline-block; text-align: left;">Members enjoy free access to their account
      on-the-go with the UniPantry app!</p><br>
  </div>
</div>

<app-footer></app-footer>