.container-fluid {
  padding: 0px;
}

.nav-logo {
  margin-left: 25px;
  width: 160px;
}

#nav-search {
  background: lightblue;
  color: white;
  font-family: FontAwesome, Arial;
  font-style: normal;
  font-weight: 500;
  vertical-align: center;
}

.nav-link {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
  margin-right: 50px;
  margin-top: 5px;
}

.navbar {
  background-color: #0CB7CC;
}

.navbar-brand {
  font-size: 22px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

::placeholder {
  color: #0CB7CC;
  font-weight: 500;
}

.shop-lists::after {
  color: #0BCDB2;
}

#a1 {
  color: orange;
  background-color: white;
  height: 70px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

#cart {
  color: #0BCDB2;
  height: 20px;
  margin-bottom: 8px;
  margin-right: 9px;
  vertical-align: middle;
  width: 20px;
}

#cart-btn {
  background: white;
  border-color: #0BCDB2;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-size: 20px;
  height: 35px;
  margin-top: 7px;
  padding-top: 3px;
}

.category {
  background: #0BCDB2;
  border: #0BCDB2;
  color: white;
  height: 35px;
  margin-left: 35px;
  margin-right: 30px;
  margin-top: 8px;
  padding-top: 3px;
}

.dropdown.has-megamenu {
  position: static;
}

.category-menu {
  background: white;
  border-color: #0BCDB2;
  border-style: solid;
  border-width: 3px;
  margin-top: -18px;
  margin-left: 51px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 200px;
}

.disabled {
  color: black;
}

.shop-lists {
  background: white;
  border: white;
  color: black;
  height: 35px;
  margin-top: 8px;
  margin-right: 30px;
  padding-top: 3px;
}

.lists-menu {
  background: white;
  border-color: #0BCDB2;
  border-style: solid;
  border-width: 3px;
  margin-top: -12px;
  padding-bottom: 10px;
}

#gift-cards {
  color: black;
  height: 35px;
  font-size: 20px;
  margin-top: 8px;
  padding-top: 3px;
}

#chevron {
  color: rgba(0, 173, 255, 0.54);
  vertical-align: middle;
}

#searchbar {
  margin-left: 600px;
}

#redeem {
  color: #0BCDB2;
  height: 20px;
  margin-bottom: 8px;
  margin-left: 9px;
  vertical-align: middle;
  width: 20px;
}

#sidenav {
  float: left;
  width: 19.6vw;
  height: 157.65vw;
  margin-left: 0vw;
}

#view-all {
  background: #0BCDB2;
  border-color: #0BCDB2;
  height: 2.1vw;
  font-weight: bold;
  margin-top: 2.8vw;
}

#New-List {
  margin-top: 3.5vw;
  margin-right: 2.1vw;
  background: white;
  border-color: #0BCDB2;
  border-radius: .35vw;
  border-style: solid;
  border-width: .07vw;
  color: #0BCDB2;
  font-size: 1.4vw;
  height: 2.1vs;
  padding: 0vw;
  text-align: center;
  font-weight: bold;
  width: 18.2vw;
}

.close-icon {
  cursor: pointer;
}

#left-chevron {
  color: #0BCDB2;
  font-size: 100px;
  margin-right: 50px;
  text-decoration: none;
}

#right-chevron {
  color: #0BCDB2;
  font-size: 100px;
  margin-left: 50px;
  text-decoration: none;
}

#add-cart-btn {
  background-color: #F89833;
  border-color: #F89833;
  border-radius: .35vw;
  margin-right: .7vw;
}

.save {
  background: white;
  border-color: #F89833;
  border-radius: .35vw;
  color: #F89833;
}

.save::after {
  color: #F89833;
}

#price {
  color: #0BCDB2;
  font-size: 1.47vw;
  margin-bottom: .7vw;
}

#item {
  font-weight: 500;
  font-size: 1.12vw;
}

.fa {
  color: #F89833;
  font-size: 1.75vw;
  padding-left: 16.5vw;
}

.card-title {
  margin-bottom: 0vw;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

.dropdown-divider {
  color: #F89833;
  border-color: #F89833;
}

.save-menu {
  border-color: #F89833;
  margin-top: -.07vw;
}

.dropdown-item {
  font-size: .98vw;
  font-weight: 500;
  padding: 0vw;
  text-align: center;
}

.card {
  width: 18.2vw;
}

#card1 {
  margin-left: 3.2vw;
}

#card2 {
  margin-left: .7px;
}

#card3 {
  margin-left: -2.45vw;
}