<div class="container-fluid">
  <app-nav></app-nav>
</div>
<div class="card" id="sidenav">
  <div class="card-body">
    <h5>All Lists</h5>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        My Lists
      </label>
    </div>
    <div class="subChecklist" id="subMyLists">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Friendsgiving
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Monthly Order
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Kathleen's Birthday Party
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-between" style="margin-bottom: .35vw; margin-left: 0vw; margin-right: 0vw;">
  <h3 style="margin-left: 4.9vw; margin-top: 2.8vw; color: #0BCDB2; font-weight: bold">My Lists</h3>
  <h3 style="margin-left: -24.5vw; margin-top: 2.8vw; color:black; font-weight: bold">Friendsgiving</h3>
  <button class="btn btn-primary" type="button" id="view-all" data-toggle="modal" style="margin-right: 9.1vw; font-size: 1.4vw; width: 18.2vw; padding: 0vw; text-align: center;"
    data-target="#paywallModal"> Add All to Cart </button>
</div>
<div class="row justify-content-between" style="margin-bottom: 1.75vw; margin-left: 0vw; margin-right: 7vw;">
  <a class="nav-link active ml-auto" href="#" id="New-List">Edit List Name</a>
  <a class="nav-link active ml-auto" href="#" id="New-List">Share List</a>
  <a class="nav-link active ml-auto" href="#" id="New-List">Auto-Delivery Options</a>
</div>
<div class="row justify-content-between" style="margin-bottom: 1.75vw; margin-left: 0vw; margin-right: 7vw;">
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card1">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card2">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card3">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-between" style="margin-bottom: 1.75vw; margin-left: 0vw; margin-right: 7vw;">
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card1">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card2">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card3">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-between" style="margin-bottom: 1.75vw; margin-left: 0vw; margin-right: 7vw;">
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card1">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card2">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card3">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-between" style="margin-bottom: 1.75vw; margin-left: 0vw; margin-right: 7vw;">
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card1">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card2">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item col-sm-3 active" id="c2">
    <div class="card material-elevation mdc-elevation--z7" id="card3">
      <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <div class="row justify-content-center">
          <button class="btn btn-primary btn-md" id="add-cart-btn" type="button">
            Add to Cart</button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle save" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Move
            </button>
            <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Friendsgiving</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Monthly Order</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Kathleen's Birthday</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" style="color: #F89833">+ New List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-between" style="margin-bottom: 1.75vw; margin-left: 51.8vw; margin-right: 7vw; margin-top: 3.5vw">
  <nav aria-label="Page navigation example" style="margin-right: -.35vw">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>