<div style="overflow: auto;">


  <div class="row justify-content-between details">

    <div style=" width:75%; margin:0% 40px;">
      <p>December 27, 2018</p>
    </div>


    <div style=" padding-bottom:1%;width:100%;"><span> </span>
      <app-logged-in-card-carousel-1></app-logged-in-card-carousel-1>
    </div>

    <div style="width:100%; padding:1% 5%;margin:0% 30px;">
      <button class="btn btn-secondary" type="button" name="button" style="margin-right:10px;">Track Order</button>
      <button class="btn btn-secondary" type="button" name="button" style="margin-right:10px;">Order Details</button>
      <button class="btn btn-secondary" type="button" name="button" style="margin-right:10px;">Add All to Cart</button>
      <button class="btn btn-secondary" type="button" name="button">Add All to List</button>
    </div>

  </div>

</div>