.details {
  background-color: white;
  width: 60%;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 0px;
  border-radius: 5px;
  border-color: #909090;
  position: relative;
  padding: 40px 20px;
}

p {
  font-size: 1vw;
  font-weight: 300;
}

span {
  font-weight: 500;
  font-size: 1em;
}

.info {
  font-weight: 300;
}

.type1 {
  padding: 5px 45px;
  background-color: white;
  color: #0BCDB2;
  border-radius: 10px;
  border-color: #0BCDB2;
  font-size: 1vw;
}

.type1:hover {
  background-color: #0BCDB2;
  border-color: #0BCDB2;
  color: white;
}

.type2 {
  background-color: #F89833;
  color: white;
}
