<nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-bottom">
  <div class="container">
    <div class="d-flex flex-column align-items-start w-100">
      <ul class="navbar-nav centered-nav">
        <li class="nav-item active footer-link">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active footer-link">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item active footer-link">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item active footer-link">
          <a class="nav-link" href="#">Log In</a>
        </li>
        <li class="nav-item active footer-link">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#paywallModal">Sign Up</a>
        </li>
      </ul>
      <div class="nav-link centered-nav my-5" style="font-size: 36px;">UniPantry</div>
    </div>
  </div>
</nav>