<div *ngIf="!loggedIn || onboarding else foot2">
  <nav class="navbar navbar-expand-xl navbar-dark sticky-bottom" style="background: rgb(52, 52, 52);">
    <div class="container">
      <div class="d-flex flex-column align-items-start w-100">
        <ul class="navbar-nav centered-nav">
          <li class="nav-item active footer-link">
            <a class="nav-link" routerLink="/logged-out">Home</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" routerLink="/logged-in">Log In</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#paywallModal">Sign Up</a>
          </li>
        </ul>
        <img class="centered-nav" id="footer-logo" src="assets/images/Logos/UniPantry Logo.png" alt="Logo">
      </div>
    </div>
  </nav>
</div>

<ng-template #foot2>
  <nav class="navbar navbar-expand-xl navbar-dark sticky-bottom" style="background: rgb(52, 52, 52);">
    <div class="container">
      <div class="d-flex flex-column align-items-start w-100">
        <ul class="navbar-nav centered-nav">
          <li class="nav-item active footer-link">
            <a class="nav-link" routerLink="/logged-in">Home</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" routerLink="/profile">My Account</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" routerLink="/refer-friend">Refer a Friend</a>
          </li>
          <li class="nav-item active footer-link">
            <a class="nav-link" routerLink="/lists">My Lists</a>
          </li>
        </ul>
        <img class="centered-nav" id="footer-logo" src="assets/images/Logos/UniPantry Logo.png" alt="Logo">
      </div>
    </div>
  </nav>
</ng-template>