.details {
  background-color: white;
  width: 60%;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 0px;
  border-radius: 5px;
  border-color: #909090;
  position: relative;
  padding: 40px 0px;
}

p {
  font-size: 1.5vw;
  font-weight: 500;
}

span {
  font-weight: 500;
  font-size: 1em;
}

.info {
  font-weight: 300;
}
