.details {
  background-color: white;
  width: 60%;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 0px;
  border-radius: 5px;
  border-color: #909090;
  position: relative;
  padding: 3% 2%;
}

p {
  font-size: 1.5vw;
  font-weight: 400;
}

span {
  font-weight: 200;
  font-size: 1vw;
}

.info {
  font-weight: 300;
}

.add {
  background-color: #F89833;
  color: white;
  text-align: center;
}
