#nav-search {
	background: lightblue;
	color: #0CB7CC;
  font-family: FontAwesome, Arial;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 500;
  height: 3vw;
  padding-bottom: .5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: .5vw;
  vertical-align: middle;
  width: 25vw;
}

#nav-search::placeholder {
	color: #0CB7CC;
}