<div *ngIf="product" class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel"
  aria-hidden="true">
  <div class="row justify-content-center">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content material-elevation mdc-elevation--z5">
        <div class="modal-body">
          <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <img class="image" src={{product.src}}>
            <div style="height: 30vw; width: 65%;">
              <a href="#" class="exit" data-dismiss="modal" data-target="#detailModal">&times;</a>
              <p class="weight">{{product.weight | titlecase}}</p>
              <p class="name">{{product.name | titlecase}}</p>
              <p class="price">{{product.price | currency}} <del class="old-price">{{product.oldPrice | currency}}</del>
              </p>
              <button class="btn btn-sm btn-secondary note">
                <i class="material-icons pencil">
                  edit
                </i>Add Note to Shopper</button>
              <div class="btn-group" role="group" aria-label="Quantity">
                <button type="button" class="btn btn-secondary decrease" (click)="decreaseQuantity()">-</button>
                <input id="quantity" type="number" min="1" value="1" OnlyNumber="true" />
                <button type="button" class="btn btn-secondary increase" (click)="increaseQuantity()">+</button>
              </div>
              <div class="row align-items-center">
                <button class="btn btn-primary btn-lg" id="add-cart-btn" (click)="addToCart()" type="button"
                  data-dismiss="modal" data-target="#detailModal">
                  Add to Cart</button>
                <div class="dropdown"> <button class="btn btn-secondary btn-lg dropdown-toggle save" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Save to
                    List</button>
                  <div class="dropdown-menu save-menu material-elevation mdc-elevation--z3"
                    aria-labelledby="dropdownMenuButton">
                    <div *ngFor="let list of account.lists; let i = index">
                      <a class="dropdown-item disabled" (click)="save(product, list)">{{list.name}}</a>
                      <div *ngIf="i<3">
                        <div class="dropdown-divider"></div>
                      </div>
                    </div>
                    <div *ngIf="!new && (account.lists.length <= 3)">
                      <a class="dropdown-item disabled" style="color: #F89833" (click)="newList()">+ New List</a>
                    </div>
                    <div *ngIf="new">
                      <input id="new" style="border-radius: .4vw; border-color: #F89833; border-width: .1vw; border-style: solid;
                        padding-left: .25vw; color: black; font-weight: 500; height: 100%; width: 95%;"
                        placeholder="List Name" maxlength="25" (keypress)="route($event)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <img class="nutrition" src={{product.src}}>
            <div style="height: 35vw; width: 65%;">
              <p class="allergens-title">Allergens</p>
              <p class="allergens">{{product.allergens | uppercase}}</p>
              <p class="ingredients-title">Ingredients</p>
              <p class="ingredients">{{product.ingredients | uppercase}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>