<div *ngIf="product" class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content material-elevation mdc-elevation--z5">
      <div class="modal-body">
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
          <img class="image" src={{product.src}}>
          <div>
            <p class="weight">{{product.weight | titlecase}}</p>
            <p class="name">{{product.name | titlecase}}</p>
            <p class="price">{{product.price}}<del class="old-price">{{product.oldPrice}}</del></p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary decrease" (click)="decreaseQuantity()">-</button>
                <button type="button" class="btn btn-secondary quantity">{{quantity}}</button>
                <button type="button" class="btn btn-secondary increase" (click)="increaseQuantity()">+</button>
              </div>
            <div class="row justify-content-center">
              <button class="btn btn-primary btn-lg" id="add-cart-btn" type="button">
                Add to Cart</button>
              <div class="dropdown"> <button class="btn btn-secondary btn-lg dropdown-toggle save" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Save to List</button>
                <div class=" dropdown-menu save-menu material-elevation mdc-elevation--z7" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Friendsgiving</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Monthly Order</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Kathleen's Birthday</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" style="color: #F89833">+ New List</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <strong class="allergens-title">Allergens</strong>
        <p class="allergens">{{product.allergens | uppercase}}</p>
        <strong class="ingredients-title">Ingredients</strong>
        <p class="ingredients">{{product.ingredients | uppercase}}</p>
      </div>
    </div>
  </div>
</div>