<div class="container-fluid">
  <nav class="navbar navbar-dark material-elevation mdc-elevation--z15 row align-items-center top-nav" style="margin-bottom: .1%;">
    <a routerLink="/logged-in" class="col-2">
      <img class="nav-logo" src="assets/images/Logos/UniPantry Logo.png" alt="Logo">
    </a>
    <div class="col-3">
      <app-typeahead></app-typeahead>
    </div>
    <a class="nav-link active col-2 ml-auto" href="#">Refer a Friend</a>
    <a class="nav-link active col-2" routerLink="/profile">My Account</a>
  </nav>
  <nav class="navbar navbar-light justify-content-end material-elevation mdc-elevation--z7 navbar-2" style="background: white; margin-bottom: .1%;">
    <div class="nav-item dropdown has-megamenu col-2 nav-item-3">
      <a class="btn btn-secondary btn-lg dropdown-toggle category" href="#" id="navbarDropdownMenuLink" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shop By Category
      </a>
      <div class="dropdown-menu category-menu" aria-labelledby="navbarDropdownMenuLink">
        <div class="container-fluid">
          <div class="row">
            <div class="column">
              <a class="dropdown-item disabled" href="#"><strong>Groceries</strong></a>
              <a class="dropdown-item disabled" href="#">Produce</a>
              <a class="dropdown-item disabled" href="#">Meat & Fish</a>
              <a class="dropdown-item disabled" href="#">Bakery</a>
              <a class="dropdown-item disabled" href="#">Dairy & Eggs</a>
              <a class="dropdown-item disabled" href="#">Beverages</a>
              <a class="dropdown-item disabled" href="#">Snacks</a>
              <a class="dropdown-item disabled" href="#">Packaged Foods</a>
              <a class="dropdown-item disabled" href="#">Frozen Foods</a>
              <a class="dropdown-item disabled" href="#">Baking Supplies</a>
              <a class="dropdown-item disabled" href="#">Specialty & Allergy-Friendly</a>
            </div>
            <div>
              <a class="dropdown-item disabled" href="#"><strong>Personal Care</strong></a>
              <a class="dropdown-item disabled" href="#">Hygiene</a>
              <a class="dropdown-item disabled" href="#">Health</a>
              <a class="dropdown-item disabled" href="#">Paper Goods</a>
              <a class="dropdown-item disabled" href="#">Cleaning Supplies</a>
              <a class="dropdown-item disabled" href="#">Laundry Supplies</a>
              <br>
              <a class="dropdown-item disabled" routerLink="/browse"><strong>Browse All Products</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-item dropdown col-1 nav-item-2">
      <a class="btn btn-secondary btn-lg dropdown-toggle shop-lists" href="#" id="navbarDropdownMenuLink" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shop Lists
      </a>
      <div class="dropdown-menu lists-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item disabled" routerLink="/lists"><strong>My Lists</strong></a>
        <a class="dropdown-item disabled" href="#"><strong>Premade Lists</strong></a>
      </div>

    </div>
    <div class="nav-item col-2">
      <a class="btn btn-secondary btn-lg shop-lists col-2" href="#" role="button">
        Gift Cards<img src="assets/images/Navbar Icons/greengift.png" id="gift">
      </a>
    </div>
    <a class="nav-link active ml-auto" id="cart-btn" href="#">
      <img src="assets/images/Navbar Icons/emptycart.png" id="cart">{{cartQuantity}}
      Your
      Cart</a>
  </nav>
</div>