<div class="container-fluid">
  <nav class="navbar navbar-dark material-elevation mdc-elevation--z15 row align-items-center top-nav" style="margin-bottom: .1%; padding: .5vw 2vw; padding-top: 1vw;">
    <a routerLink="/logged-in" class="col-2">
      <img class="nav-logo" src="assets/images/Logos/UniPantry Logo.png" alt="Logo">
    </a>
    <div class="col-3">
      <app-typeahead></app-typeahead>
    </div>
    <a class="nav-link active col-2 ml-auto" routerLink="/refer-friend">Refer a Friend</a>
    <a class="nav-link active col-2" routerLink="/profile">My Account</a>
  </nav>
  <nav class="navbar navbar-light justify-content-end material-elevation mdc-elevation--z7 navbar-2" style="background: white; margin-bottom: .1%; padding: .5vw 2vw; z-index: 99;">
    <div class="nav-item dropdown has-megamenu col-2 nav-item-3">
      <a class="btn btn-secondary btn-lg dropdown-toggle category" routerLink="/browse" [queryParams]="{category: 'all'}" id="navbarDropdownMenuLink" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shop By Category
      </a>
      <div class="dropdown-menu category-menu" aria-labelledby="navbarDropdownMenuLink">
        <div class="container-fluid">
          <div class="row">
            <div class="column">
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'groceries' }"><strong>Groceries</strong></a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'produce' }">Produce</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'meat & fish' }">Meat & Fish</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'bakery' }">Bakery</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'dairy & eggs' }">Dairy & Eggs</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'beverages' }">Beverages</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'snacks' }">Snacks</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'packaged foods' }">Packaged Foods</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'frozen foods' }">Frozen Foods</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'baking supplies' }">Baking Supplies</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'specialty & allergy-friendly' }">Specialty & Allergy-Friendly</a>
            </div>
            <div>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'personal care' }"><strong>Personal Care</strong></a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'hygiene' }">Hygiene</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'health' }">Health</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'paper goods' }">Paper Goods</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'cleaning supplies' }">Cleaning Supplies</a>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'laundry supplies' }">Laundry Supplies</a>
              <br>
              <a class="dropdown-item disabled" routerLink="/browse" [queryParams]="{ category: 'all' }"><strong>Browse All Products</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-item dropdown col-1 nav-item-2" style="position: static;">
      <a class="btn btn-secondary btn-lg dropdown-toggle shop-lists" routerLink="/lists" id="navbarDropdownMenuLink" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shop Lists
      </a>
      <div class="dropdown-menu lists-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item disabled" routerLink="/lists"><strong>My Lists</strong></a>
        <a class="dropdown-item disabled" routerLink="/lists"><strong>Premade Lists</strong></a>
      </div>

    </div>
    <div class="nav-item col-2">
      <a class="btn btn-secondary btn-lg shop-lists" routerLink="/gift-card" role="button">
        Gift Cards<img src="assets/images/Navbar Icons/greengift.png" id="gift">
      </a>
    </div>
    <a class="nav-link active ml-auto" id="cart-btn" routerLink="/cart">
      <img src="assets/images/Navbar Icons/emptycart.png" id="cart">
      <span id="cart-quantity">0</span>
      Your
      Cart</a>
  </nav>
</div>