<div style="overflow: auto;">

  <div style=" width:75%; margin-top:40px;">
    <p>Account & Membership Details</p>
  </div>

  <div class="row justify-content-between details">

    <div style=" padding:10px 20px;width:100%;"><span>Name </span>
      <div class="info">{{user.name}}</div>
    </div>

    <div style=" padding:10px 20px;width:100%;"><span>Phone </span>
      <div class="info">{{user.phone}}</div>
    </div>

    <div style=" padding:10px 20px;width:100%;"><span>Email </span>
      <div class="info">{{user.email}}</div>
    </div>

    <div style=" padding:10px 20px;width:100%;"><span>UP Member Since </span>
      <div class="info">{{user.startOfMem}}</div>
    </div>

    <button class="btn btn-secondary" type="button" name="button" style="margin:20px; background-color: #0BCDB2; position:absolute; right:0;">EDIT</button>

  </div>

  <div style=" padding:10px 20px;width:100%;">
    <label>Name:
      <input [(ngModel)]="user.name" placeholder="name" />
    </label>
  </div>
</div>