.details {
  background-color: white;
  width: 60%;
  border: 1px solid black;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 5px;
  border-color: #909090;
  position: relative;
}

p {
  font-size: 1.25em;
}

span {
  font-weight: 500;
  font-size: 1em;
}

.info {
  font-weight: 300;
}

::placeholder {
  color: black;
}
