<div class="browse">
  <h3 style="margin-left: 10%; margin-bottom: 1.5%;">Browse all Products</h3>
  <div class="row justify-content-center">
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Produce.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Meat.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Bakery.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Dairy.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Beverages.png" alt="Card image">
    </a>
  </div>
  <div class="row justify-content-center">
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Snacks.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Packaged Foods.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Frozen Foods.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Baking Supplies.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/specialty.png" alt="Card image">
    </a>
  </div>
  <div class="row justify-content-center">
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Hygiene.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Health.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Paper Goods.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Cleaning Supplies.png" alt="Card image">
    </a>
    <a routerLink="/browse" class="browse-all-card">
      <img class="card-img-bottom" src="assets/images/Category Cards/Laundry Supplies.png" alt="Card image">
    </a>
  </div>
</div>
<div class="row" style="margin-left: 11%; margin-top: 10%; margin-bottom: 10%; margin-right: 0px;">
  <div class="column justify-content-start">
    <h3>Too Busy to Shop?</h3>
    <p style="font-size: 1.5vw; font-weight: 400; line-height: 1.25; margin-bottom: 1%;">We've got you covered! Check out lists of our most popular items<br>
      or our exclusive ready-made meal products by Hannaford to get<br>everything you need with a click of a button.</p>
    <button class="btn btn-primary" type="button" id="too-busy" style="margin-right: 7.5%;">
      <div class="row justify-content-between">
        Popular Lists
        <i class="material-icons" style="color: white; font-size: 2vw; vertical-align: middle;">chevron_right</i>
      </div>
    </button>
    <button class="btn btn-primary" type="button" id="too-busy">
      <div class="row justify-content-between">
        Meal Kits
        <i class="material-icons" style="color: white; font-size: 2vw; vertical-align: middle;">chevron_right</i>
      </div>
    </button>
  </div>
  <img src="assets/images/Category Cards/Listsample.jpg" alt="Cart image" style="height: 15%; margin-left: 17.5%; width: 25%;">
</div>