<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="BrowseAll">
        <div class="Browse">
            <h3 style="margin-left: 130px; margin-bottom: 25px; margin-top: 50px;">Browse all Products</h3>
            <div class="row justify-content-center">
                <a href="#" class="mx-3 mb-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Produce.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 mb-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Meat.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 mb-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Bakery.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 mb-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Dairy.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 mb-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Beverages.png" alt="Card image">
                </a>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Snacks.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Packaged Foods.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Frozen Foods.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Baking Supplies.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/specialty.png" alt="Card image">
                </a>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Hygiene.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Health.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Paper Goods.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Cleaning Supplies.png" alt="Card image">
                </a>
                <a href="#" class="mx-3 my-4 browse-all-card">
                    <img class="card-img-bottom" src="assets/images/Category Cards/Laundry Supplies.png" alt="Card image">
                </a>
            </div>
        </div>
        <div class="row" style="margin-left: 165px; margin-top: 100px; margin-bottom: 100px; margin-right: 0px;">
            <div class="column justify-content-start">
                <h3>Too Busy to Shop?</h3>
                <p style="font-size: 22px;">We've got you covered! We've created carts of products that are <br> most
                    commonly bought together
                    so you can order all of your <br> essentials with one click</p>
                <button class="btn btn-primary" type="button" id="too-busy">Check Out Unipantry Lists ></button>
            </div>
            <img src="assets/images/Category Cards/Listsample.jpg" alt="Cart image" style="height: 300px; margin-left: 120px; width:500px;">
        </div>
    </div>
</body>