<div class="container-fluid">
  <app-logged-in-landing-nav></app-logged-in-landing-nav>
</div>
<div class="card" id="sidenav">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
<div class="row justify-content-between" style="margin-bottom: 25px; margin-left: 0px; margin-right: 0px;">
  <h3 style="margin-left: 405px; margin-top: 30px">All Products</h3>
  <p id="sort">Sort By:</p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Popularity
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
<div class="cards">
  <div class="row1">
    <div class="card material-elevation mdc-elevation--z7" id="card1">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card2">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card3">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card4">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="card material-elevation mdc-elevation--z7" id="card5">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card6">
      <img class="card-img-top img-fluid" [src]="images[1]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 Ct.</p>
        <p class="card-text" id="item">Brita Water Filter</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card7">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card8">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="card material-elevation mdc-elevation--z7" id="card9">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card10">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card11">
      <img class="card-img-top img-fluid" [src]="" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>
    <div class="card material-elevation mdc-elevation--z7" id="card12">
      <img class="card-img-top img-fluid" [src]="images[0]" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">1 lb.</p>
        <p class="card-text" id="item">Fuji Apples</p>
        <p class="card-text" id="price">$1.19 <del style="color:gray">$1.49</del></p>
        <button class="btn btn-primary btn-large" id="signup-btn" type="button">
          Sign Up to Order Now</button>
      </div>
    </div>

  </div>
  <nav aria-label="Page navigation example" id="pagination">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>